<!DOCTYPE html>
<body lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Just do it</title>
</head>
<body>
    <header>
        <div class="title">
            <img src="media/logo.png" alt="">
            Just do it
        </div>
        <a href="/register"> Register </a>
    </header>
</body>
<div class="loginform">
    <form action="loginPost" method="POST">
        <input type="text" name="email" id="email" placeholder="E-mail" >
        <input type="password" name="password" id="password" placeholder="Password">
        <button>Login</button>
    </form>
</div>
</body>
</html>